@model Lab11.Models.PassModel
<title>@Model.Title</title>
<h1>@Model.Heading</h1>
<script>
    const numb1 = @Model.numb1
    const numb2 = @Model.numb2
</script>
<script src="/js/caculate.js"></script>