body{
    margin:0;
    font-family:monospace;
}
button{
    width: 33.333%;
    height: 50px;
    color: white;
    background-color: red;
    text-align: center;
    font: 1.5em bold;
}
.animal{
    margin:20px;
    display: none;
}
.wrap{
    background-color: white;
    height: 300px;
    width:650px;
    margin:auto;
}
.button-bar{
    display: flex;
}
.animals{
    display:flex;
    width: 100%;
    height: 100%;
}
#cat-div{
    height: 100%;
    background-color: blue;
    
}
#dog-div{
    height: 100%;
    background-color: green;
    text-align: right;
    #dog {float: right;}
}
