<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/layout.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="backend1">Backend1</div>
        <div class="homediv"><a class="home" href="/">Home</a></div>
    </header>
    <div class="container">
        @RenderBody()
    </div>

    <footer>&copy;2023-Backend1</footer>
</body>
</html>
