body{
    margin:0;
    padding: 0;
}
a{
    color: white;
    margin-left: 20px;
    text-decoration: none;
}
.header{
    display: flex;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 1.5em;
    padding: 1em;
}
.body {
    margin-inline:10%;
    display: flexbox
}
.footer{
    margin-inline:10%;
}
.link{
    color:blue;
}