extends layout.pug

block content 
    title Manual - Backend2
    .body
        h1 Manual
        <form action="/calc/Manual" method="POST">
            <input type="number" id="numb1" name="numb1"><br>
            <select name="operator" id="operator">
                <option value="+">+</option>
                <option value="/">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
            <br>
            <input type="number" id="numb2" name="numb2"><br>
            <input type="submit" value="Submit">
        </form>