extends layout.pug
block content
    title HomePage - Backend2
    <div class="body">
        <h1>Form parameters parsing demo</h1>
        <ul>
            <li><a href="/Calc/Manual" class="link">Manual parsing in single action</a></li>
            <li><a href="/Calc" class="link">Manual parsing in seperate actions</a></li>
            <li><a href="/Calc" class="link">Model binding (parameters)</a></li>
            <li><a href="/Calc" class="link">Model binding (seperate model)</a></li>
        </ul>
    </div>