
<title>@ViewBag.Title</title>
<h1>@ViewBag.Heading</h1>
<div>
    <ul>
        <li><a href="/Mockups/Quiz">Quiz</a></li>
        <li><a href="/Mockups/QuizResult">QuizResult</a></li>

    </ul>
</div>
